footer {
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(34, 34, 34) 90.2%);
  color:rgb(228, 227, 227);
  position: fixed;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  padding: 1rem;
  text-align: left;
  width: 100%;
}
